@charset "utf-8";

body,h1,h2,ul,figure{
	margin: 0px;      /*去除外边距*/
	padding: 0px;
}

ul,ol{
	list-style: outside none none;
}
a{
text-decoration:none;    /*去除下划线*/
}


#search {
	width: 100%;
	min-width: 1263px;
	height: 600px;
	background:url(../img/search3.jpg) no-repeat center;
	position: relative;   /*定义水平垂直*/

}
#search .center{
	width: 600px;
	height: 60px;
	background-color: #000;
	position: absolute;  /*参考上述定义*/
	top: 50%;
	left: 50%;
	margin: -30px 0 0 -300px;
	opacity: 0.6;
	border: 10px;

}
#search .search{
	width: 446px;
	height: 54px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -27px 0 0 -296px;
	color: #666;
	border: 1px solid #666;
	border-radius: 10px;
	font-size: 24px;
	padding: 0 10px;
	outline: none;
}
#search .button {
	width: 120px;
	height: 54px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -27px 0 0 175px;
	color: #666;
	border: 1px solid #eee;
	border-radius: 10px;
	font-size: 24px;
	
	outline: none;
	cursor: pointer;    /*在按钮上显示手型*/
	font-weight: bold;    /*按钮加粗*/

}


#tour{
	width: 1263px;
	height: 1100px;
	/*background-color: #ccc;*/

	margin: 30px auto;
	text-align: center;     /*居中*/

}

#tour .center h2{
	font-size: 45px;
	letter-spacing: 2px;  /*设置间距*/
	color: #666;
	margin: 10px 0;
}
#tour .center p{
	color: #666;
	margin: 10px 0;
}

#tour figure{
	border: 1px solid #ddd;
	display: inline-block;;
	padding: 4px;
	border-radius: 4px;
	margin: 15px 12px;
	text-align: left;
	position: relative;	   /*做一个相对点*/
}
#tour figure img{
	
	vertical-align: middle; 

}
#tour figcaption{
	
	width: 380px;
	color: #777;
	line-height:1.5;
	letter-spacing: 1px;
	margin: 10px 0 5px 0;
}
#tour .title{
	color: #333;
	font-weight: normal;
}
#tour .sat{
	float: right;
	font-size: 14px;
	color: #999;
	font-style: normal;
	position: relative;
	top: 5px;
	right: 5px;
	
}
#tour .price{
	color: #f60;
	font-size: 14px;

}
#tour .price strong{
	font-size: 20px;
	letter-spacing: 1px;


}
#tour .type{
	width: 90px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	text-align: center;
	color: #fff;
	background-color: #59b200;
	position: absolute;
	top: 4px;
	left: 4px;

}


